.comment-card{
  position: relative;
  display: flex;
  background-color:#FFF;
  min-height: 4rem;
  padding:1rem;
  border-radius: 0.5rem;

}
.like-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(223, 19%, 93%);
  width:6%;
  border-radius: 0.5rem;
}
.like-section .plus-minus
{
  display: flex;
  justify-content: center;
  margin:0.5rem;
  border-radius: 50%;
}
.like-section .plus
{
  order: 1;
}
.like-section .minus
{
  order: 3;
}
.like-section .score-count
{
  order: 2;
}
.like-section img{
  transform: scale(1.25);
}
.like-section .plus-minus:hover{
  cursor: pointer;
}
.card-content{
  margin-left:1rem;
  margin-bottom: 2rem;
  width:calc(94% - 2rem);
  order:1;
}
.first-row{
  display:flex;
  justify-content: space-between;
}
.user-info{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
.username{
  font-weight: 600;
  margin-left: 1rem;
}
.createdAt{
  margin-left: 1rem;
  font-weight: 400;
}
.replyButton{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color:hsl(238, 40%, 52%);
  font-weight: 600;
}
.comment-content{
  margin-top:1rem;
}
@media (max-width: 600px){
  .comment-card{
    display: block;
  }
  .card-content{
    width:calc(100% - 2rem);
  }
  .like-section{
    flex-direction: row;
    width:10rem;
    position:absolute;
    margin-top: 1rem;
    height:2em;
    left:2em;
    bottom:0.5em;
    order:2;
  }
  .like-section .plus
  {
    order: 3;
  }
  .like-section .minus
  {
    order: 1;
  }
  .replyButton{
    flex-direction: row;
    width:10rem;
    position:absolute;
    margin-top: 1rem;
    height:2em;
    right:2em;
    bottom:0.5em;
    order:2;
  }
}
